.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(139,82,254);
    color: black;
}

 /* Mobile */
 @media screen and (max-width: 600px) {
    .footer_container {
        text-align: center;
        font-size: 0.8rem;
    }
 }